<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588822565362-o7u0c4ne2cm9i2jj76a8l3es8lkqmbt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588822565362-o7u0c4ne2cm9i2jj76a8l3es8lkqmbt0</string>
	<key>API_KEY</key>
	<string>AIzaSyDIp29ygRyFFrOHoyrYOE2iJFlWZtur10M</string>
	<key>GCM_SENDER_ID</key>
	<string>588822565362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myGames</string>
	<key>PROJECT_ID</key>
	<string>my-backlog-1040f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-backlog-1040f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588822565362:ios:c9cb5129c7cf5d18addb6b</string>
</dict>
</plist>